* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  overflow: scroll;
}

main {
  position: absolute;
  width: 650px;
  top: 50%;
  left: 50%;
  padding: 1%;
  transform: translate(-50%, -50%);
  /* border: 1px solid blue; */
}

.result, .summary {
  display: inline-block;
  width: 45%; 
  vertical-align: top; 
}

.result {
  padding: 50px 10px;
  border-radius: 40px;
  text-align: center;
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.summary {
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* border: 1px solid green; */
}

.title-result {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: hsl(0, 0%, 85%);
}

.sub-title-result {
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}

.circle-summary {
  position: relative;
  margin: auto;
  width: 150px;
  text-align: center;
  height: 150px;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(to top, hsl(252, 100%, 67%, 0.5), hsl(241, 81%, 54%));
}

.summary-text {
  display: inline-block;
  width: 80%;
  margin: auto;
  color: hsl(0, 0%, 85%);
}


.circle-summary .circle-destak {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 44px;
  transform: translate(-50%, -50%);

}

.circle-summary .circle-no-destak {
  position: absolute;
  bottom: 15%;
  left: 50%;
  font-size: 15px;
  color: hsl(0, 0%, 85%);
  transform: translate(-50%);
}

.title-summary {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}

.item {
  display: inline-block;
  width: 80%;
  padding: 10px 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.reaction {
  background-color: hsl(0, 100%, 67%, 0.2);  
  color: hsl(0, 100%, 67%, 1);  
}

.memory {
  background-color: hsl(39, 100%, 56%, 0.2);
  color: hsl(39, 100%, 56%, 1);
}

.verbal {
  background-color: hsl(166, 100%, 37%, 0.2);
  color: hsl(166, 100%, 37%, 1);
}

.visual {
  background-color: hsl(234, 85%, 45%, 0.2);
  color: hsl(234, 85%, 45%, 1);
}

.summary-button {
  color: white;
  width: 80%;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: hsl(224, 30%, 27%);
  border-radius: 30px;
}

.attribution { 
  position: fixed;
  bottom: 0;
  font-size: 11px; text-align: center; 
  
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}