* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: top;
  transform: translate(-50%, -50%);
}

.result, .summary {
  display: inline-block;
}

.result {
  width: 300px;
  padding: 50px 20px;
  /* height: 450px; */
  border-radius: 40px;
  text-align: center;
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.summary {
  width: 300px;
  border: 1px solid green;
}

.title-result {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: hsl(0, 0%, 85%);
}

.sub-title-result {
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}

.circle-summary {
  position: relative;
  margin: auto;
  width: 150px;
  text-align: center;
  height: 150px;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(to top, hsl(252, 100%, 67%, 0.5), hsl(241, 81%, 54%));
}

.summary-text {
  display: inline-block;
  width: 80%;
  margin: auto;
  color: hsl(0, 0%, 85%);
}


.circle-summary .circle-destak {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 44px;
  transform: translate(-50%, -50%);

}

.circle-summary .circle-no-destak {
  position: absolute;
  bottom: 15%;
  left: 50%;
  font-size: 15px;
  color: hsl(0, 0%, 85%);
  transform: translate(-50%);
}

.attribution { 
  position: fixed;
  bottom: 0;
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}